::selection {
    color: white;
    background: black;
    opacity: 1;
}

* {
    margin: 0;
}

body {
    background: /* url("../../assets/bg.png"), find a better pic */ #F8E71C;
    font-family: "Lobster", cursive;
    height: 100%;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
}

div.row:not(:last-of-type) {
    margin-bottom: 2em;
}

.card {
    font-size: 2em;
    color: black;
    background: white;
    padding: 1em;
    box-shadow: 10px 10px rgba(0,0,0,1);
    transform: scale(0);
    animation: grow .8s ease forwards;
}

.grow-finished {
    animation: none;
    transform: scale(1);
}

.card-name:before {
    content: "";
    background-image: url("../../assets/tylord_small.png");
    width: 50px;
    height: 50px;
    display: block;
    background-size: 100% 100%;
    position: absolute;
    top: -50px;
    left: 60px;
}

.card-link {
    cursor: pointer;
    transition: all .3s ease;
}

.card-link:hover {
    background: #01AFD1;
    color: white;
}

.card-link:active {
    transform: translate(5px, 5px);
    box-shadow: 5px 5px black;
}

span.card:not(:last-of-type), a.card-link:not(:last-of-type) {
    margin-right: .5em;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}